<div class="main">
  <div class="question">
    {{ actualRound.question }}
  </div>
  <div class="answers">
    <div class="column">
      <div id="ans" *ngFor="let item of actualRound.answers.slice(0, 4); let i = index">
        <div class="option-answered" *ngIf="item.answered==true">
          <div class="answer"> {{ item.content }} </div>
          <div class="points"> {{ item.points}} </div>
        </div>
        <div class="option-unanswered" *ngIf="item.answered!=true" (click)="onAnswer(i)">
          <div class="number"> {{ i+1 }} </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div id="ans" *ngFor="let item of actualRound.answers.slice(4, actualRound.answers.length); let i = index">
        <div class="option-answered" *ngIf="item.answered==true">
          <div class="answer"> {{ item.content }} </div>
          <div class="points"> {{ item.points}} </div>
        </div>
        <div class="option-unanswered" *ngIf="item.answered!=true" (click)="onAnswer(i+4)">
          <div class="number"> {{ i+5 }} </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="xis" *ngIf="actualRound.wrongs!=0">
      Wrong answers:
      <div class="x" *ngFor="let i of actualRound.wrongsX"></div>
    </div>
    <div class="xis" *ngIf="actualRound.wrongs==0">
      No wrong answers yet!
    </div>
    <div class="total">
      Total points:
      <div class="total-points">{{ actualRound.points }}</div>
    </div>
    <div class="btns">
      <button class="btn btn-danger" [hidden]="wrongHidden" (click)="onWrong()">Wrong</button>
      <button class="btn btn-primary" [hidden]="nextHidden" (click)="onNext()">Next question</button>
    </div>
  </div>
</div>
