<div class="main">
  <div class="question">
    Name a place you might pick up a date who isn’t interested in a serious relationship
  </div>
  <div class="answers">
    <div class="column">
      <div class="option-answered">
        <div class="answer">Bar </div>
        <div class="points"> 31 </div>
      </div>
      <div class="option-answered">
        <div class="answer">Club </div>
        <div class="points"> 19 </div>
      </div>
      <div class="option-answered">
        <div class="answer">Tinder </div>
        <div class="points"> 18 </div>
      </div>
      <div class="option-answered">
        <div class="answer">College </div>
        <div class="points"> 13 </div>
      </div>
    </div>
    <div class="column">
      <div class="option-answered">
        <div class="answer">Party </div>
        <div class="points"> 10 </div>
      </div>
      <div class="option-unanswered">
        <div class="number"> 6 </div>
      </div>
      <div class="option-unanswered">
        <div class="number"> 7 </div>
      </div>
      <div class="option-unanswered">
        <div class="number"> 8 </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="xis">
      Wrong answers:
      <div class="x"></div>
      <div class="x"></div>
      <div class="x"></div>
    </div>
    <div class="total">
      Total points:
      <div class="total-points">100</div>
    </div>
    <div class="btns">
      <button class="btn btn-danger">Wrong</button>
      <button class="btn btn-primary">Next question</button>
    </div>
  </div>
</div>
